<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
  <head>
    <title>group managment</title>
    <meta charset="utf-8" />
    <meta name="author" content="shell">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap-responsive.min.css" />
    <link rel="stylesheet" type="text/css" href="/static/css/style.css" />
  </head>
  <body>
    % include("nav.html")
    <div class="container">
      % from bottle import request
      % session = request.environ.get('beaker.session')
      <form method="POST">
	<table class="table table-striped table-condensed">
          <thead>
	    <tr>
	      <td>select</td>
	      <td>name</td><td>users</td><td>accounts</td>
	      <td>parent</td><td>perms</td>
	    </tr>
	  </thead>
	  <tbody>
	    % for group in groups:
	    <tr>
	      <td><input type="checkbox" name="groups" {{'checked="yes"' if group.id in selected else ''}} value="{{group.id}}"/></td>
	      <td>{{group.name}}</td>
	      <td>
		% for user in group.users:
		  {{user.username}}
		% end
	      </td>
	      <td>
		% for account in group.accounts:
		  {{account.account}}@{{account.host.hostname}}:{{account.host.port}}
		% end
	      </td>
	      <td>
		% for gg in group.parents:
		{{gg.parent.name}}
		% end
	      </td>
	      <td>{{group.perms}}</td>
	    </tr>
	    % end
	  </tbody>
	</table>
	% include("page.html", page=page, pagemax=pagemax)
        <button class="btn btn-primary" type="submit">Submit</button>
      </form>
    </div>
    <script type="text/javascript" src="/static/js/jquery-1.10.2.min.js" charset="utf-8"></script>
    <script src="/static/js/bootstrap.min.js"></script>
  </body>
</html>
