<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
  <head>
    <title>host managment</title>
    <meta charset="utf-8" />
    <meta name="author" content="shell">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap-responsive.min.css" />
    <link rel="stylesheet" type="text/css" href="/static/css/style.css" />
  </head>
  <body>
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <div class="nav-collapse collapse">
            <ul class="nav navbar-nav">
              <li><a href="/">Home</a></li>
              <li><a href="/h/">Hosts</a></li>
              <li><a href="/usr/">Users</a></li>
              <li><a href="/grp/">Groups</a></li>
              <li><a href="/rec/">Records</a></li>
	      <li class="dropdown">
		<a href="#" class="dropdown-toggle" data-toggle="dropdown">My Account<span class="caret"></span></a>
		<ul class="dropdown-menu" role="menu">
		  <li><a href="/usr/edit">Setup</a></li>
		  <li><a href="/pubk/">Pubkeys</a></li>
		  <li><a href="/usr/logout">Logout</a></li>
		</ul>
	      </li>
	    </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      % if 'hosts' in session['perms']:
      <a href="/h/add">add</a>
      % end
      <table class="table table-striped table-condensed">
        <thead>
	  <tr>
	    <td>host</td><td>accounts</td><td>hostname</td>
	    <td>port</td><td>proxy</td><td>hostkey</td><td>actions</td>
	  </tr>
	</thead>
	<tbody>
	  % for host in hosts:
	  <tr>
	    <td>{{host.host}}</td>
	    <td><a href="/acct/{{host.id}}">{{len(host.accounts)}}</a></td>
	    <td>{{host.hostname}}</td>
	    <td>{{host.port}}</td>
	    % if host.proxy:
	    <td>
	      <a href="/h/acct/{{host.proxy.id}}/edit">
		{{'%s@%s' % (host.proxy.account, host.proxy.host.host)}}
	      </a>
	    </td>
	    % else:
	    <td></td>
	    % end
	    <td>{{'yes' if host.hostkeys else 'no'}}</td>
	    <td>
	      % if 'hosts' in session['perms']:
	      <a href="/h/{{host.id}}/renew">renew</a>
	      <a href="/h/{{host.id}}/edit">edit</a>
	      <a href="/h/{{host.id}}/rem">del</a>
	      % end
	    </td>
	  </tr>
	  % end
	</tbody>
      </table>
    </div>
    <script type="text/javascript" src="/static/js/jquery-1.10.2.min.js" charset="utf-8"></script>
    <script src="/static/js/bootstrap.min.js"></script>
  </body>
</html>
