<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
  <head>
    <title>host managment</title>
    <meta charset="utf-8" />
    <meta name="author" content="shell">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap-responsive.min.css" />
    <link rel="stylesheet" type="text/css" href="/static/css/style.css" />
  </head>
  <body>
    % include("nav.html")
    <div class="container">
      <form method="POST">
	<table>
	  % if defined('errmsg'):
	  <h2>{{errmsg}}</h2>
	  % end
	  <h2>name of host</h2>
	  <input name="host" type="text" value="{{host.hostname if host.hostname else ''}}"/>
	  <h2>hostname</h2>
	  <input name="hostname" type="text" value="{{host.hostname if host.hostname else ''}}" placeholder="hostname or ip address"/>
	  <h2>port</h2>
	  <input name="port" type="text" value="{{host.port or '22'}}"/>
	  <h2>proxy command</h2>
	  <input name="proxycommand" type="text" value="{{host.proxycommand if host.proxycommand else ''}}" placeholder="keep it blank if you don't know"/>
	  <h2>proxy account</h2>
	  % if host.proxy:
	  <input name="proxyaccount" type="text" value="{{'%s@%s' % (host.proxy.account, host.proxy.host.host)}}" placeholder="keep it blank if you don't know"/>
	  % else:
	  <input name="proxyaccount" type="text" value="" placeholder="keep it blank if you don't know"/>
	  % end
          <button class="btn btn-primary" type="submit">Submit</button>
	</table>
      </form>
    </div>
    <script type="text/javascript" src="/static/js/jquery-1.10.2.min.js" charset="utf-8"></script>
    <script src="/static/js/bootstrap.min.js"></script>
  </body>
</html>
