<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
  <head>
    <title>host managment</title>
    <meta charset="utf-8" />
    <meta name="author" content="shell">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap-responsive.min.css" />
    <link rel="stylesheet" type="text/css" href="/static/css/style.css" />
  </head>
  <body>
    % include("nav.html")
    <div class="container">
      % from bottle import request
      % session = request.environ.get('beaker.session')
      % if 'hosts' in session['perms']:
      <a href="/h/add">add</a>
      % end
      <table class="table table-striped table-condensed">
        <thead>
	  <tr>
	    <td>host</td><td>accounts</td><td>hostname</td>
	    <td>port</td><td>proxy</td><td>hostkey</td><td>actions</td>
	  </tr>
	</thead>
	<tbody>
	  % for host in hosts:
	  <tr>
	    <td>{{host.host}}</td>
	    <td><a href="/acct/{{host.id}}">{{len(host.accounts)}}</a></td>
	    <td>{{host.hostname}}</td>
	    <td>{{host.port}}</td>
	    % if host.proxy:
	    <td>
	      <a href="/h/acct/{{host.proxy.id}}/edit">
		{{'%s@%s' % (host.proxy.account, host.proxy.host.host)}}
	      </a>
	    </td>
	    % else:
	    <td></td>
	    % end
	    <td>{{'yes' if host.hostkeys else 'no'}}</td>
	    <td>
	      % if 'hosts' in session['perms']:
	      <a href="/h/{{host.id}}/renew">renew</a>
	      <a href="/h/{{host.id}}/edit">edit</a>
	      <a href="/h/{{host.id}}/rem">del</a>
	      % end
	    </td>
	  </tr>
	  % end
	</tbody>
      </table>
      % if page != 1:
      <a href="{{request.path}}">first</a>
      <a href="{{request.path}}?page={{page-1}}">prev</a>
      % end
      {{'...' if 3 < page else ''}}
      % for i in xrange(max(1, page-2), min(page+3, pagemax+1)):
      <a class="{{'pagenow' if i == page else ''}}" href="{{request.path}}?page={{i}}">{{i}}</a>
      % end
      {{'...' if page+2 < pagemax else ''}}
      % if page != pagemax:
      <a href="{{request.path}}?page={{page+1}}">next</a>
      <a href="{{request.path}}?page={{pagemax}}">end</a>
      % end
    </div>
    <script type="text/javascript" src="/static/js/jquery-1.10.2.min.js" charset="utf-8"></script>
    <script src="/static/js/bootstrap.min.js"></script>
  </body>
</html>
