<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
  <head>
    <title>pubkey managment</title>
    <meta charset="utf-8" />
    <meta name="author" content="shell">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap-responsive.min.css" />
    <link rel="stylesheet" type="text/css" href="/static/css/style.css" />
  </head>
  <body>
    % include("nav.html")
    <div class="container">
      <form method="POST">
	<textarea name="keys" rows="4" cols="100"></textarea>
        <button class="btn btn-primary" type="submit">Submit</button>
      </form>
    </div>
    <script type="text/javascript" src="/static/js/jquery-1.10.2.min.js" charset="utf-8"></script>
  </body>
</html>
