<table class="table table-striped table-condensed">
  <thead>
    <tr>
      <td>time</td><td>type</td>
      <td>log1</td><td>log2</td><td>num1</td>
    </tr>
  </thead>
  <tbody>
    % from bottle import request
    % for rlog in reclogs:
    <tr>
      <td>{{rlog.time}}</td>
      <td>
	% if rlog.type == 'shell':
	<a href="/rlog/{{rlog.id}}">{{rlog.type}}</a>
	[ssh {{rlog.id}}@_@{{request.urlparts.netloc.split(':', 1)[0]}}]
	% else:
	{{rlog.type}}
	% end
      </td>
      <td>{{rlog.log1}}</td>
      <td>{{rlog.log2}}</td>
      <td>{{rlog.num1}}</td>
      % end
  </tbody>
</table>
% include("page.html", page=page, pagemax=pagemax)
