<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
  <head>
    <title>user managment</title>
    <meta charset="utf-8" />
    <meta name="author" content="shell">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap-responsive.min.css" />
    <link rel="stylesheet" type="text/css" href="/static/css/style.css" />
  </head>
  <body>
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <div class="nav-collapse collapse">
            <ul class="nav navbar-nav">
              <li><a href="/">Home</a></li>
              <li><a href="/h/">Hosts</a></li>
              <li><a href="/usr/">Users</a></li>
              <li><a href="/grp/">Groups</a></li>
              <li><a href="/rec/">Records</a></li>
	      <li class="dropdown">
		<a href="#" class="dropdown-toggle" data-toggle="dropdown">My Account<span class="caret"></span></a>
		<ul class="dropdown-menu" role="menu">
		  <li><a href="/usr/edit">Setup</a></li>
		  <li><a href="/pubk/">Pubkeys</a></li>
		  <li><a href="/usr/logout">Logout</a></li>
		</ul>
	      </li>
	    </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      % from db import ALLRULES
      <form method="POST">
	<table>
	  % perms = set(user.perms.split(','))
	  % if not user.username:
	  <h2>username</h2>
	  <input name="username" type="text" placeholder="Username"/>
	  % end
	  % if defined('errmsg'):
	  <h2>{{errmsg}}</h2>
	  % end
	  % if defined('editself'):
	  <h2>old password</h2>
	  <input name="password_old" type="password" placeholder="Keep blank if dont't wanna change"/>
	  % end
	  <h2>password</h2>
	  <input name="password1" type="password" placeholder="Keep blank if dont't wanna change"/>
	  <h2>verify</h2>
	  <input name="password2" type="password" placeholder="Keep blank if dont't wanna change"/>
	  % if not defined('editself'):
	  <h2>perms</h2>
	  % for p in ALLRULES:
          <label class="checkbox">
	    <input type="checkbox" name="perms" {{'checked="yes"' if p in perms else ''}} value="{{p}}"/>{{p}}
	  </label>
	  % end
	  % end
          <button class="btn btn-primary" type="submit">Submit</button>
	</table>
      </form>
    </div>
    <script type="text/javascript" src="/static/js/jquery-1.10.2.min.js" charset="utf-8"></script>
    <script src="/static/js/bootstrap.min.js"></script>
  </body>
</html>
